*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
.resultWrapper, .formForText, .classWrapper, .trainTicketsWrapper, .infoAboutOrder{
  margin-bottom: 50px;
}
.container{
  margin: 0 auto;
  width: 1500px;
  height: 100%;
  padding: 20px;
}
.formForText{
  width: 540px;
  height: auto;
  padding: 20px;
  background: #fbf2e9;
}
.formForText textarea{
  width: 500px;
  height: 100px;
  scroll-behavior: auto;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 5px 0 5px 0;
  resize: none;
}
.styles{
  width: 500px;
  height: 40px;
  background: #fbf2e9;
}
.styles label:not(:last-of-type){
  margin-right: 10px;
}
.changeText{
  height: 25px;
  width: 502px;
  margin-left: -1px;
  margin-top: 10px;
}
.resultWrapper{
  width: 500px;
  height: auto;
  background: #fbf2e9;
  padding: 20px;
}
.resultText{
  padding: 20px 0px 20px 0px;
  width: 100%;
  min-height: 100px;
  background: #fbf2e9;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  word-wrap: break-word;
}
.titleRes{
  font-weight: bold;
}
.leftside{
  width: 300px;
  height: auto;
}
.storeWrapper{
  width: 1300px;
  height: auto;
  background: #fbf2e9;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 10px;
}
.booksWrapper{
  display: flex;
  flex-direction: row;
  height: 512px;
}
.formWrapper{
  width: 450px;
  height: 512px;
  margin-left: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  padding-top: 10px;
}
.book{
  width: 250px;
  height: 512px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}
.book:not(:first-of-type){
  margin-left: 20px;
}
.bookTitle{
  font-weight: bold;
}
.bookAuthor{
  font-size: 12px;
}
.bookPrice{
  font-weight: bold;
  font-size: 20px;
}
.bookSelect{
  width: 100%;
  height: 25px;
}
.bookSelect button{
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.buyBook{
  width: 100%;
  height: 22px !important;
  font-weight: bold;
}
.buyingForm input{
  width: 304px;
  height: 25px;
}
.buyingForm span{
  text-align: left;
}
.bookCover{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
}
.bookTitle{
  width: 100%;
  text-align: left;
  height: 116px;
  margin-top: 10px;
}
.bookAuthor{
  margin-bottom: 10px;
  font-weight: 400 !important;
}
.bookPrice{
  text-align: right;
}
.hidden{
  display: none;
}
.buyingForm ul{
  list-style-type: none;
}
.formRow{
  display: flex;
  justify-content: flex-end;
}
.formRow input{
  height: 25px;
  flex: 2;
  /* width: 273px; */
  margin-bottom: 10px;
  outline: none;
  padding: 0px 5px 0px 5px;
}
.formRow label{
  flex: 1;
}
.formRow > textarea{
  margin-bottom: 10px;
  width: 276px !important;
  outline: none;
  scroll-behavior: auto;
  height: 154px;
  resize: none;
  padding: 0px 5px 0px 5px;
}
.infoAboutOrder{
  height: auto;
  width: 1300px;
  background: #fbf2e9;
  padding: 20px;
}
.colored{
  border-color: red;
}
.titleInfo{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.infoAbout{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  word-wrap: break-word;
}
.formRow > textarea::placeholder, .formRow input::placeholder{
  color: grey;
  font-size: 12px;
}
.classWrapper{
  width: 503px;
  height: auto;
  background: #fbf2e9;
  padding: 20px;
  margin-top: 40px;
}
.groupsWrapper{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.classWrapper select{
  height: 25px;
  width: 100px;
}
.groupsWrapper label:last-of-type{
  margin-left: 20px;
}
.selectGroupAndLesson{
  height: 27px;
  width: 100px;
  margin-left: 20px;
}
th, td{
  width: 150px;
  height: 40px;
  border-bottom: 1px dashed grey;
  text-align: left;
}
.btnSave{
  width: 342px;
  height: 27px;
  margin-top: 20px;
}
.studentsWrapper{
  margin-top: 10px;
}
.studentsWrapper label{
  margin-right: 10px;
}
.topicLesson{
  height: 25px;
  width: 287px;
}
.carriage{
  display: flex;
  flex-direction: row;
}
.carriage td{
  width: 50px;
  height: 50px;
}
.carriage input[type='checkbox']{
  margin-right: 10px;
}
.trainTicketsWrapper{
  height: auto;
  width: 500px;
  background: #fbf2e9;
  padding: 20px;
}
.selectTrainWrapper{
  width: 100%;
  height: 20px;
  margin-bottom: 40px;
}
.carriageWrapper{
  padding-top: 20px;
  border-top: 1px solid grey;
}
.searchTickets, #selectDirection, #dateTour{
  height: 27px;
  min-width: 100px;
}
.buingTicketsWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-top: 10px;
}
.buingTicketsWrapper p{
  text-align: right;
  height: 40px;
  width: 100%;
}
.buingTicketsWrapper span{
  font-weight: bold;
}
.bookingTickets{
height: 27px;
min-width: 100px;
margin-right: 1px;
margin-left: 10px;
}
.hidden{
  display: none;
}
